.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  display: flex;
  align-items: center;
  width: 10rem;
  justify-content: space-between;
}

.todo-item .completed{
  text-decoration: line-through;
}